.home-text {
    position: absolute;
    width: 20rem;
    height: 6rem;
    top: 0;
    background-color: hsla(253, 50%, 95%, 0.8);
    padding: 1rem;
    border-radius: 5px;
    border: 2px rgb(54, 22, 54);
    border-style: solid;
}

.home-div {
    width: 20rem;
    position: absolute;
    top: 9%;
    left: 1%;
}

.btn-home {
    margin-left: 9px;
    width: 8.7rem;
}

.schoolapplication-div {
    position: relative;
    padding: 1.2rem;
    position: absolute;
    top:6%;
    left: 32%;
    width: 25rem;
    height: 35rem;
    background-color: rgb(230, 224, 219);
    box-shadow: 4px 4px 4px rgb(46, 46, 46);
    border-radius: 4px;
}

.schoolapplication-h3 {
    margin-top: 0;
    display: inline-block;
}

.his-img {
    margin-left: 1rem;
    width: 3.2rem;
}

.app-p {
    margin-bottom: 1rem;
    font-weight: bold;
    border-bottom: 1px black;
    border-bottom-style: solid;
}
.app-2 {
    border: 1px black;
    border-bottom-style: solid;
    margin-bottom: 1rem;
    font-weight: lighter;
}
#id {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.applybtn {
    position: absolute;
    top: 87%;
    left: 44%;
}