.game-title {
    font-family: 'Sigmar One', cursive;
    color: white;
    opacity: 100%;
    font-size: 2.5rem;
    display: inline-block;
    position: absolute;
    width: 60rem;
    height: auto;
    text-align: center;
    top: 40%;
    left: 45%;
    transform: translate(-45%, -50%);
    transition: 300ms;
}
.start-bg-img {
    position: relative;
    max-width: 100%;
    height: 100%;
}

.game-description-div {
    background-color: aqua;
    position: absolute;
    width: 30rem;
    height: auto;
    top: 47%;
    left: 26%;
    text-align: center;
}

.input-name {
    display: inline-block;
    position: absolute;
    top: 75%;
    left: 40%;
}

.button-start {
    position: absolute;
    top: 81%;
    left: 45.5%;
    padding:  3px 14px;
    width: auto;
    height: auto;
    border-radius: 5px;
    background-color: rgb(45, 156, 132);
    border-style:solid;
    border-color: rgb(24, 105, 88);
    color: rgb(15, 23, 24);
    font-family: 'Sigmar One', cursive;
    
}
.button-start:hover {
    background-color: rgb(75, 201, 173);
    border-color: rgb(43, 156, 132);
    transition: 200ms;
    
}

.game-description {
    text-align: center;
    position: absolute;
    top: 0;
    left: 0; 
    color: aliceblue;
    font-size: 1.1rem;
}
.game-description-1 {
    text-align: center;
    position: absolute;
    top: 65%;
    left: 31%; 
    color: aliceblue;
    font-size: 1rem;

}

.button-div-scene-2 {
    position: absolute;
    top: 54%;
    left: 31%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25rem;
    height: 3rem;
}
.button-choice-1 {
    font-family: 'Sigmar One', cursive;
    margin-left: 1.7rem;
    width: 10rem;
    height: 2.5rem;
    font-size: 1rem;
}

.scene-three-button {
    width: 15rem;
    height: 2.5rem;
    font-family: 'Secular One', sans-serif;
    font-size: 1rem;
    font-weight: bold;
}