.Scene-three-button-div {
    position: absolute;
    top: 88%;
    left: 12%;
    right: 28%;
    background-color: hsla(251, 56%, 26%, 0.5);
    border: 2px rgb(23, 12, 36);
    border-style: solid;
    border-radius: 5px;
    width: 50rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.centrum-text  {
    padding: 2px;
    text-align: center;
    width: 50rem;
    position: absolute;
    top: 70%;
    left: 12%;
    right: 28%;
    background-color: hsla(240, 52%, 90%, 0.6);
    border: 2px rgb(23, 12, 36);
    border-style: solid;
    border-radius: 5px;
    font-size: 1.1rem;
}

.mcdonalds-order {
    top: 80%;
    color: rgb(255, 255, 132);
    font-family: 'Sigmar One', cursive;
    background-color: hsla(2, 93%, 47%, 0.6);
    border-color: rgb(77, 10, 10);
    padding: 0.2rem;
    width: auto;
    left: 21%;
}

.mcdonalds-order-field {
    background-color: hsla(54, 82%, 59%, 0.6);
    border-color: rgb(155, 125, 6);
    width: 34.2rem;
    left: 20.8%;
}

.input-order {
    width: 10rem;
    height: 1.5rem;
    background-color: rgb(255, 255, 255);

}

.addfood-button {
    position: absolute;
    top: 28%;
    left: 65%;
}

.order-list-div {
    position: absolute;
    padding: 0.2rem;
    top: 1%;
    right: 1%;
    background-color: hsla(54, 89%, 93%, 0.6);
    color: black;
    width: 12rem;
    height: auto;
}

.my-order-list {
    font-family: 'Sigmar One', cursive;
    font-size: 1rem;
    color: rgb(151, 1, 1);
    margin: 2px;
    padding-top: 0;
    padding-left: 0.7rem;
    list-style: none;
}
.my-order-list-button {
    position: relative;
    left: 10%;
    background-color: rgb(250, 232, 69);
    border-color: rgb(202, 202, 1);
    
}
.my-order-list-button:hover {
    background-color: rgb(255, 242, 130);
    border-color: rgb(255, 255, 71);
    
}

.mcdonk-six {
    top: 90%;
}

.donk {
    position: absolute;
    width: 2.5rem;
    top: 38.5%;
    left:40%;
}
.donk-3 {
    position: absolute;
    width: 5rem;
    top: 40.5%;
    left:35%;
}