*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Secular One', sans-serif;
}

body {

    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #333;
}
#game-container {
    height: 40rem;
    width: 67rem;
    max-width: 100%;
    background-color: rgb(245, 238, 238);
    border-radius: 1px;
}

#toggle-sound {
    padding-top: 8px;
    padding-bottom: 2px;
    display: inline-block;
    z-index: 1; 
}

#music-button-container {
    position: absolute;
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
}
#play-pause-text {
    padding-left: 1rem;
    color: antiquewhite;
}

#play-audio-button {
    height: 1rem;
    width: 1rem;
}


.btn {
    background-color: rgb(45, 156, 132);
    border-color: rgb(24, 105, 88);
    border-radius: 5px;
    padding:  3px 7px;
    color: rgb(5, 9, 14);
}
.btn:hover {
    background-color: rgb(93, 206, 181);
    border-color: rgb(61, 177, 152);
    color: rgb(13, 31, 34);
    transition: 300ms;
}

.text {
    color: hsl(330, 72%, 35%);
}

